<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="practicetestng.listeners.ITestListenerClass"></listener>
	</listeners>
  <test thread-count="5" name="Test">
	  <classes>
		  <class name="practicetestng.sample.OrangeHrmTesting">
			  <methods>
				  <include name="sideBarTesting"></include>
				  <include name="adminPage"></include>
				  <include name="pimPage"></include>
			  </methods>
		  </class>
	  </classes>
  </test>  <!--Test -->
</suite> <!-- Suite -->
